{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block extra_head %}
	{{ form.media }}
{% endblock %}

{% block content %}

<h1>{% trans "Registering" %}</h1>

<p>{% trans "Field with * are required -- Personal data will not be published" %}</p>

<form action="/position/add/" method="post" class="form-horizontal">
{% csrf_token %}
{{ form|as_bootstrap }}
			<p class="form-actions">
				<input type="submit" value="{% trans "Submit" %}" class="btn btn-primary">
			</p>
</form>

{% endblock %}
