{% extends "base.html" %}
{% load i18n %}
{% block title%}Start{% endblock title %}
{% load bootstrap_toolkit %}

{% block content %}
<div class="hero-unit">
{% blocktrans %}
        <h1>Sag uns Bescheid!</h1>
        <p>Du möchtest einen Knoten betreiben? Sag uns einfach Bescheid über das Registrierungsformular. </p>
        <p>Wir melden uns bei Dir!</p>
{% endblocktrans %}
        <p><a class="btn btn-large btn-primary" href="{% url 'position-add' %}">{% trans "Register" %}</a></p>
</div>
{% endblock %}
